/* @import url("../node_modules/bootstrap/dist/css/bootstrap.min.css"); */
.box{
  border:1px solid;
  padding: 20px;
  margin:10px;
  display: flex;
  justify-content: space-around;
}
.li{
  border: 1px solid;
  
  padding: 10px;
  list-style: none;
  margin: 20px;
  justify-content: space-around;
}
.dd{
  border: 1px solid;
  padding: 10px;
  
  justify-content: space-around;
}



